<h1>Log In Below:</h1>

<form action='/sessions' method = "POST">
  <input id="email" type="email" name="email">
  <input id="password" type="password" name="password">
  <input id = "Log In" type="submit" name="Log In">
  
</form>