<h1>Sign Up Below:</h1>

<form action='/registrations' method = "POST">
  <input id="name" type="text" name="name">
  <input id="email" type="email" name="email">
  <input id="password" type="text" name="password">
  <input value="Sign Up" id='Sign up' type="submit" name="Sign Up">
</form>

