<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label>Name: </label> <input="text" name="name">
  <label>Email: </label> <input="text" name="email">
  <label>Password: </label> <input="text" name="password">
</form>


